.box-reset-password {
    margin: 0 auto;
    border: 1px solid #d2d6de;
}

.btn-reset-pass {
    width: 100%;
    background: linear-gradient(to left, #BC4328, #6785C1);
    border-color: #367fa9;
}

.btn-cancel {
    margin-top: 5px;
    width: 100%;
    background: linear-gradient(to left, #eb9316, #eb9316);
    border-color: #eb9316;
}

.forgot-password-title {
    text-align: center;
    color: rgba(0,0,0,.7);
}

.forgot-password-description {
    color: rgba(0,0,0,.54);
    text-align: center;
    margin: 8px 0 32px;
    font-size: 13px;
}

.footer-padding {
    padding: 0px 50px 50px 50px !important;
}

.box-body-reset-password {
    padding: 50px 50px 20px 50px;
}

@media (min-width: 768px) {
    .navbar-header {
         float: none;
    }
    .box-reset-password {
        width: 500px;
    }
    .main-header .logo {
        width: 100%;
    }
}
